/* App.css */
.calendar-container {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.button:hover {
  background-color: #2980b9;
}

.month-selector {
  position: relative;
  cursor: pointer;
}

.month-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #999;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px;
  z-index: 1;
}

.month-dropdown div {
  padding: 4px;
  cursor: pointer;
  color: black;
  text-align: left;
  padding-right: 20px;
  border-bottom: 1px solid;
}

.month-dropdown div:hover {
  background-color: #f0f0f0;
  color: black;
}

.year-selector {
  position: relative;
  cursor: pointer;
}

.year-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #999;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px;
  z-index: 1;
  max-height: 150px; /* Set a maximum height for the dropdown */
  overflow-y: auto; /* Enable vertical scrolling */
}

.year-dropdown div {
  padding: 4px;
  color: black;
  text-align: left;
  padding-right: 20px;
  border-bottom: 1px solid;
  cursor: pointer;
}

.year-dropdown div:hover {
  background-color: #f0f0f0;
}

.month-dropdown span,
.year-dropdown span {
  display: block;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 4px;
}

.days-of-week {
  display: flex;
  justify-content: space-between;
  background-color: dimgray;
  border: 1px solid white;
  padding: 8px 0;
}

.day-of-week {
  flex: 1;
  padding: 8px;
}

.week {
  display: flex;
}

.day {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.day:hover {
  background-color: #f0f0f0;
  color: black;
}

.other-month {
  color: #999;
}

.today {
  background-color: #3498db;
  color: #fff;
  border-radius: 50%;
}

.today:hover {
  background-color: #2980b9;
}
